<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>天翼阅读,开卷有翼 - 调度系统</title>
<link rel="shortcut icon" href="favicon.ico" />
<link type="text/css" href="${rc.contextPath}/css/recharge/global.css" rel="stylesheet" />
<script type="text/javascript" src="${rc.contextPath}/js/jquery.js" > </script>
<script type="text/javascript">
		function doCmd(state,triggerName,group,triggerState){
			if(state == 'pause' && triggerState=='PAUSED'){
				alert("该应用己经暂停！");
				return;
			}
			
		   if(state == 'resume' && triggerState != 'PAUSED'){
			alert("该应用正在运行中！");
			return;
			}
			//客户端两次编码，服务端再解码，否测中文乱码 
			triggerName = encodeURIComponent(encodeURIComponent(triggerName));
			group = encodeURIComponent(encodeURIComponent(group));
            $.ajax({
                url: '${rc.contextPath}/admin/operate.json?action='+state+'&triggerName='+triggerName+'&group='+group,
                type: 'post',
                success: function(data){
					var flag = eval('(' + data.flag + ')');
					if (flag == 1) {
						alert("执行成功！");
						window.location.reload();
					}else{
						alert("执行失败！");	
					}		   
                }
            });
		}
		</script>
		<script type="text/javascript">
		function doModify(state,triggerName,group,triggerState){
			triggerName = encodeURIComponent(encodeURIComponent(triggerName));
			group = encodeURIComponent(encodeURIComponent(group));
            window.location.href="${rc.contextPath}/admin/modify.htm?action="+state+"&triggerName="+triggerName+"&group="+group;
		}
        </script>
</head>
<body>
<div id="header">
	#if($userInfo)
<!--充值中心 头文件 -->
  <div id="header_top">
    <div class="wrap">
      <div class="login">
        <div style=" width:100px; float:left;height: 30px;line-height: 30px;"><a href="http://read.189.cn">天翼首页</a>&nbsp;</div>
        <ul class="lg_in">
          <li>
            <label>欢迎你<font color="red">${userInfo.userName}</font>登录数据调度管理平台！</label>
          </li>
          
        </ul>
        <div class="lg_wel"></div>
      </div>
      <ul class="login_bind">
        <li class="lb_bak"><a href="${rc.contextPath}/loginOut.htm">退出系统</a></li>
        <li class="lb_tit">快捷登录:</li>
        <li><a class="sinaLogin" title="新浪"><i class="weibo"></i> </a></li>
        <li><a class="tencentLogin" title="腾讯"><i class="sina"></i> </a> </li>
        <li><a class="renrenLogin" title="人人"><i class="renren"></i> </a> </li>
      </ul>
    </div>
  </div>
  #end
  <!--充值中心 头文件 -->
  <div id="header_main">
    <div class="header_mainBox clearfix">
      <div class="wrap clearfix">
        <h1 class="fl" id="logo"><img src="${rc.contextPath}/images/recharge/logo.png" alt="天翼阅读充值中心"></h1>
        <p class="fr faq"> <a href="${rc.contextPath}/help.htm">系统遇到问题？</a><br>
          <span class="user_info" id="balance"></span> </p>
      </div>
    </div>
  </div>
</div>
<div id="mainNav" class="wrap">
  <ul class="clearfix">
      <li><a href="${rc.contextPath}/index.htm">数据调度首页</a></li>
    <li><a href="${rc.contextPath}/admin/manage.htm" class="current">数据调度管理</a></li>
    <li><a href="${rc.contextPath}/admin/config.htm">数据调度概况</a></li>
    <li><a href="${rc.contextPath}/admin/server_info.htm">服务管理</a></li>
  </ul>
</div>
<div class="main_box clearfix">
  <div class="crumb"> <span class="cube"></span>您的位置：<a href="/index.htm">天翼阅读首页</a>&gt;&gt;个人中心&gt;&gt;数据调度管理 </div>
  <div class="aside_nav fl">
    <dl style="border-top: 1px solid #cacccb;">
     <dd class="account "><a href="${rc.contextPath}/admin/manage.htm">我的账户</a><span></span></dd>
     <dd class="order current"><a href="${rc.contextPath}/admin/scheduler.htm">数据调度管理</a><span></span></dd>
	  <dd class="account"><a href="${rc.contextPath}/admin/add_trigger_group.htm">添加调度应用</a><span></span></dd>
    </dl>
  </div>
  <div class="containBox fl">
    <!--我的账户 -->
    <div class="account_Wrap clearfix">
      <div class="fl userInfo"> <img src="${rc.contextPath}/images/recharge/p48.jpg" />
        <p>${userInfo.userName}</p>
      </div>
      <div class="fl account_mainBox">
        <p>欢迎 来到天翼阅读数据调度中心！</p>
        <p><span class="viewDetail arrowBtn">详情</span></p>
        <div class="ydDetail" style="display:none;">
          <p style="color:#b5b5b5;">角色：&nbsp;&nbsp; ${role}</p>
        </div>
        </div>
    </div>
    <!--近一月充值记录 -->
    <div class="account_Wrap clearfix" style="border:0;">
      <div class="recordList" id="recordList">
        <h3>今天数据调度记录</h3>
        <table>
          <tr>
            <th>调度名称</th>
            <th>调度组</th>
            <th>下次执行</th>
            <th>上次执行</th>
            <th>优先级</th>
			<th>状态</th>
			<th>开始时间</th>
			<th>动作命令</th>
          </tr>
         #foreach( $job in $jobs ) 
          <tr>
            <td>${job.displayName}</td>
            <td>${job.triggerGroup}</td>
            <td>${job.nextFireTime}</td>
            <td>${job.prevFireTime}</td>
            <td>${job.priority}</td>
			<td>${job.state}</td>
			<td>${job.startTime}</td>
			<td>
				<input type="button" id="pause" value="停" class="btn-blue btn-small" onclick="doCmd('pause','${job.triggerName}','${job.triggerGroup}','${job.triggerState}')">
				<input type="button" id="resume" value="启" class="btn-blue btn-small" onclick="doCmd('resume','${job.triggerName}','${job.triggerGroup}','${job.triggerState}')">
				<input type="button" id="remove" value="删" class="btn-blue btn-small" onclick="doCmd('remove','${job.triggerName}','${job.triggerGroup}','${job.triggerState}')">
				<input type="button" id="modify" class="btn-blue btn-small" value="修" onclick="doModify('modify','${job.triggerName}','${job.triggerGroup}','${job.triggerState}')" />
			</td>
          </tr>
          #end
        </table>
      </div>
    </div>
 
  </div>
</div>
<div id="footer">
  <!-- 充值中心 -脚-->
  <div class="footer_wrap"> 版权所有(&copy;) 2012 天翼阅读文化传播有限公司 </div>
</div>
<script type="text/javascript" src="${rc.contextPath}/js/jquery.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/util.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/cz_global.js"></script>
</body>
</html>
