<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>天翼阅读,开卷有翼 - 调度系统</title>
<link rel="shortcut icon" href="favicon.ico" />
<link type="text/css" href="${rc.contextPath}/css/recharge/global.css" rel="stylesheet" />
<script type="text/javascript" src="${rc.contextPath}/js/jquery.js" > </script>
</head>
<body>
<div id="header"> #if($userInfo)
  <!--充值中心 头文件 -->
  <div id="header_top">
    <div class="wrap">
      <div class="login">
        <div style=" width:100px; float:left;height: 30px;line-height: 30px;"><a href="http://read.189.cn">天翼首页</a>&nbsp;</div>
        <ul class="lg_in">
          <li>
            <label>欢迎你<font color="red">${userInfo.userName}</font>登录数据调度管理平台！</label>
          </li>
        </ul>
        <div class="lg_wel"></div>
      </div>
      <ul class="login_bind">
        <li class="lb_bak"><a href="${rc.contextPath}/loginOut.htm">退出系统</a></li>
        <li class="lb_tit">快捷登录:</li>
        <li><a class="sinaLogin" title="新浪"><i class="weibo"></i> </a></li>
        <li><a class="tencentLogin" title="腾讯"><i class="sina"></i> </a> </li>
        <li><a class="renrenLogin" title="人人"><i class="renren"></i> </a> </li>
      </ul>
    </div>
  </div>
  #end
  <!--充值中心 头文件 -->
  <div id="header_main">
    <div class="header_mainBox clearfix">
      <div class="wrap clearfix">
        <h1 class="fl" id="logo"><img src="${rc.contextPath}/images/recharge/logo.png" alt="天翼阅读充值中心"></h1>
        <p class="fr faq"> <a href="${rc.contextPath}/help.htm">系统遇到问题？</a><br>
          <span class="user_info" id="balance"></span> </p>
      </div>
    </div>
  </div>
</div>
<div id="mainNav" class="wrap">
  <ul class="clearfix">
    <li><a href="${rc.contextPath}/index.htm">数据调度首页</a></li>
    <li><a href="${rc.contextPath}/admin/manage.htm">数据调度管理</a></li>
    <li><a href="${rc.contextPath}/admin/config.htm">数据调度配置</a></li>
    <li><a href="${rc.contextPath}/admin/server_info.htm" class="current">服务管理</a></li>
  </ul>
</div>
<div class="main_box clearfix">
  <div class="crumb"> <span class="cube"></span>您的位置：<a href="/index.htm">天翼阅读首页</a>&gt;&gt;个人中心&gt;&gt;数据调度配置 </div>
  <div class="aside_nav fl">
    <dl style="border-top: 1px solid #cacccb;">
      <dd class="order current"><a href="${rc.contextPath}/admin/config.htm">服务器信息</a><span></span></dd>
    </dl>
  </div>
  <div class="containBox fl">
    <div class="account_Wrap clearfix">
      <div class="recordList">
        <h3>登录用户<span> <span id="score" style="margin-left:5px;color:red;"><b>${userInfo.userName}</b></span> </h3>
      </div>
    </div>
    <div class="account_Wrap clearfix" style="border:0;">
      <div class="recordList">
        <h3 style="border:0;">积分获取规则说明：</h3>
        <table style="border:solid 1px #E4EDF3">
          <tr style="background-color:#E2EEF6">
            <td width="135">机器配置</td>
            <td width="439" class="border_left">参数</td>
          </tr>
          <tr>
            <td>Java的运行环境版本：</td>
            <td class="border_left">${java_version}</td>
          </tr>
          <tr>
            <td>临时文件路径</td>
            <td class="border_left">${java_io_tmpdir}</td>
          </tr>
          <tr>
            <td>操作系统</td>
            <td class="border_left">${os_name}</td>
          </tr>
          <tr>
            <td>操作系统的构架</td>
            <td class="border_left">${os_arch}</td>
          </tr>
          <tr>
            <td>操作系统的版本</td>
            <td class="border_left">${os_version}</td>
          </tr>
		    <tr>
            <td>用户的主目录</td>
            <td class="border_left">${os_user_home}</td>
          </tr>
		  <tr>
            <td>cpu信息核心数</td>
            <td class="border_left">${os_cpus}</td>
          </tr>
		  <tr>
            <td>服务器Ip</td>
            <td class="border_left">${ip}</td>
          </tr>
		  <tr>
            <td>服务器端口</td>
            <td class="border_left">${port}</td>
          </tr>
		  <tr>
            <td>内存信息</td>
            <td class="border_left">${memory}</td>
          </tr>
        </table>
        <p style="margin-top:20px;">说明：请求服务器的相关的参数和应用场景。</p>
      </div>
    </div>
  </div>
</div>
<div id="footer">
  <!-- 充值中心 -脚-->
  <div class="footer_wrap"> 版权所有(&copy;) 2012 天翼阅读文化传播有限公司 </div>
</div>
<script type="text/javascript" src="${rc.contextPath}/js/jquery.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/util.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/cz_global.js"></script>
</body>
</html>
